
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,400&display=swap'); 


body {
    font-family: 'Open Sans', sans-serif;
    background: #001821;
    color: #FFFFFF;
    line-height: 21px;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    height: 100%;
    width: 100%;

}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin-top: 0;
}

.main-page-wrapper {
    background: url(/images/background_1.jpg) center top -6px no-repeat, url(/images/background_2.jpg) right -65px bottom 105px no-repeat;
}


.container {
    margin: 0 auto;
    width: 1140px;
}

header {
    height: 123px;
    position: relative;
    margin-bottom: 67px;
}

.logo {
    display: block;
    position: absolute;
    top: 23px;
    left: 0px;
}

.logo__pic {
    width: 85px;
    top: 29px;
}

.menu {
    top: 33px;
    left: 164px;
    position: absolute;
}

.contacts {
    display: block;
    position: relative;
    top: 28px;
    text-align: right;
    font-style: normal;
    margin: 0;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 54px;
    font-style: 14px;
    line-height: 19px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    text-decoration: none;
}

.menu__item--active .menu__link {
    color:#DA0100
}

.contacts__phone {
    display: block;
    position: absolute;
    text-decoration: none;
    font-size: 26px;
    line-height: 35,41px;
    right: 0;
}

.contacts__workhours {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 7px;
}

.contacts__dropdown-title {
    display: block;
    position: absolute;
    font-size: 14px;
    line-height: 20px;
    right: 0;
    top: 21px;
    text-decoration: underline;
}

.main-title {
    width: 511px;
    margin-bottom: 245px;
}

.main-title__header {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    margin-bottom: 29px;
}

.main-title__text {
    font-size: 19px;
    line-height: 20px;
    margin-bottom: 33px;
}

.button {
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    border: none;
}

.button--white {
    background: #FFFFFF;
    border: 1px solid #F5170E;
    color: #F5170E;
    text-align: center;
    padding: 18px 30px;
}

.button--red {
    padding: 18px 30px;
}

.button:hover {
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}


.tour-offers {
    margin-bottom: 123px;
}

.tour-offers__header {
    margin-bottom: 51px;
    margin-left: 3px;
    position: relative;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
}

.tour-offers__title {
    display: inline-block;
    margin-right: 12px;
}

.tour-offers__icon {
    display: inline-block;
    position: absolute;
    top:14px;
}

.tour-offer__item {
    min-height: 449px;
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    margin-right: 23px;
    width: 362px;
    overflow: hidden;
}

.tour-offer__item:last-child {
    margin-right: 0;
}

.tour-offer__img {
    min-height: 144px;
}

.tour-offer__content {
    padding-top: 28px;
    padding-left: 22px;
    padding-bottom: 26px;
    padding-right: 16px;
    color: #303030;
}

.tour-offer__country {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 20px;
}

.tour-offer__additinal-info {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 5px;
}

.tour-offer__additinal-info:last-child {
    display: inline-block;
    margin-right: 0px;
    vertical-align: middle;
}

.tour-offer__calendar-block {
    display: inline-block;
    vertical-align: middle;
}

.tour-offer__food-block {
    display: inline-block;
    vertical-align: middle;
}

.tour-offer__sub-icon {
    display: inline-block;
    margin-right: 9px;
}

.tour-offer__subtext {
    display: inline-block;
    margin-right: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.tour-offer__text {
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.promo-offers__item {
    display: inline-block;
    width: 557px;
    border-radius: 5px;
    margin-right: 21px;
    vertical-align: top;
    overflow: hidden;
    position: relative;
}

.promo-offers__item:last-child {
    margin-right: 0px;
}

.promo-offers__img {
    display: block;
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.promo-offer__description {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 120px;
    padding: 25px 30px;
}

.promo-offers__header {
    margin-bottom: 51px;
}

.promo-offers__month-year {
    margin-bottom: 13px;
}

.promo-offers__subheader {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 3px;
}

.promo-offers__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    min-height: 50px;
}

.promo-offers__list {
    margin-bottom: 58px;
}

.paginator {
    text-align: center;
    margin-bottom: 142px;
}

.paginator__index, .paginator__list, .paginator__item {
    display: inline-block;
    vertical-align: middle;
    
}

.paginator__index {
    margin-right: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.paginator__page {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
}

.paginator__item--active {
    background: #FFFFFF;
    color: #F5170E;
    border-radius: 50%;
}

/* end of paginator*/

.about-us {
    min-height: 550px;
    margin-bottom: 35px;
}

.about-us__background-image, .about-us__front-img {
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

.about-us__front-img {
    margin-top: -410px;
    margin-left: 352px;
}

.about-us__info {
    padding: 80px 98px;
    display: inline-block;
    vertical-align: top;
    margin-top: -465px;
    margin-left: 338px;
}

.about-us__header {
    color:#000000;
    margin-bottom: 37px;
}

.about-us__text {
    width: 502px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #060606;
    margin-bottom: 43px;
    min-height: 135px;
}

.about-us__text p {
    margin-bottom: 20px;
}

.about-us__text p:last-child {
    margin-bottom: 0;
}

/* end of about-us section*/

.footer {
    position: relative;
    height: 88px;
    margin-bottom: 57px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.social-media {
    display: inline-block;
    position: absolute;
    top: 26px;
    right: 260px;
}

.social-media__list {
    display: inline-block;
}
.social-media__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.social-media__item:last-child {
    margin-right: 0;
}

.social-media__img {
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.contacts--footer {
    top: 10px;
}
