
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,400&display=swap'); 


body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    background: #001821;
    color: #FFFFFF;
    line-height: 21px;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

.container {
    margin: 0 auto;
    width: 1141px;
}

header {
    height: 123px;
    position: relative;
    margin-bottom: 67px;
}

.logo {
    display: block;
    position: absolute;
    top: 23px;
    left: 0px;
}

.logo__pic {
    width: 85px;
    top: 29px;
}

.menu {
    top: 33px;
    left: 164px;
    position: absolute;
}

.contacts {
    display: block;
    position: relative;
    top: 28px;
    text-align: right;
    font-style: normal;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 54px;
    font-style: 14px;
    line-height: 19px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    text-decoration: none;
}

.menu__item--active .menu__link {
    color:#DA0100
}

.contacts__phone {
    display: block;
    position: absolute;
    text-decoration: none;
    font-size: 26px;
    line-height: 35,41px;
    right: 0;
}

.contacts__dropdown-title {
    display: block;
    position: absolute;
    font-size: 14px;
    line-height: 20px;
    right: 0;
    top: 21px;
    text-decoration: underline;
}

.main-title {
    width: 511px;
    margin-bottom: 246px;
}

.main-title__header {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    margin-bottom: 29px;
}

.main-title__text {
    font-size: 19px;
    line-height: 20px;
    margin-bottom: 33px;
}

.button {
    background: #F5170E;
    border-radius: 35px;
    width: 168px;
    height: 55px;
    padding: 18px 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;

}

.button--white {
    background: #FFFFFF;
    border: 1px solid #F5170E;
    color: #F5170E;
    width: 135px;
    text-align: center;
    padding: 18px 30px;
}

.button--red {
    width: 135px;
    padding: 18px 30px;
}

.button:hover {
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}


.tour-offers {
    margin-bottom: 127px;
}

.tour-offers__header {
    display: inline-block;
    margin-bottom: 51px;
}

.tour-offers__title {
    display: inline-block;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin-right: 12px;
}

.tour-offer__item {
    min-height: 449px;
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    margin-right: 23px;
    width: 362px;
}

.tour-offer__item:last-child {
    margin-right: 0;
}

.tour-offer__img {
    min-height: 144px;
    border-radius: 5px 5px 0px 0px;
}

.tour-offer__content {
    padding: 22px 22px;
    color: #303030;
}

.tour-offer__country {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 21px;
}

.tour-offer__additinal-info {
    display: inline-block;
    margin-right: 28px;
    margin-bottom: 24px;
}

.tour-offer__additinal-info:last-child {
    margin-right: 0px;
    vertical-align: middle;
}

.tour-offer__calendar-block {
    display: inline-block;
    vertical-align: middle;
}

.tour-offer__food-block {
    display: inline-block;
    vertical-align: middle;
}

.tour-offer__sub-icon {
    display: inline-block;
    margin-right: 9px;
}

.tour-offer__subtext {
    display: inline-block;
    margin-right: 28px;
}

.tour-offer__text {
    margin-bottom: 25px;
}

.footer {
    position: relative;
}