
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,400&display=swap'); 

.html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #001821;
    color: #FFFFFF;
    line-height: 21px;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 1200px;
}

main {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    width: 1140px;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
}

p {
    margin-top: 0;
}