
.button {
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    border: none;
}

.button--white {
    background: #FFFFFF;
    border: 1px solid #F5170E;
    color: #F5170E;
    padding: 18px 30px;
}

.button--red {
    padding: 18px 30px;
}

.button:hover {
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}
