.contacts {
    text-align: right;
    font-style: normal;
    margin: 0;
}

.contacts__phone {
    display: block;
    text-decoration: none;
    font-size: 26px;
    line-height: 35,41px;
}

.contacts__dropdown-title {
    display: block;
    font-size: 14px;
    line-height: 20px;
    top: 21px;
    text-decoration: underline;
}

.contacts__workhours {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 7px;
    right: 0;
}