


.form__row {
    display: flex;
    margin-bottom: 26px;
}

.form__input {
    flex: 1;
    margin-right: 28px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #fff;
    padding: 20px 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1A1B1E;
}

.form__input:last-child {
    margin-right: 0;
}

.form__input::placeholder {
    color: #666666;
}

.form__input:focus {
    outline: none;
    border-color: #f51;
}

.form__input--textarea {
    height: 235px;
    resize: none;
}

.form__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.form__controls-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1A1B1E;
    min-width: 35%;
    margin-right: 20px;
}

.contorls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 17px;
}
