
.main-title {
    width: 45%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 63px;
}

.main-title__header {
    margin-bottom: 29px;
}

.main-title__text {
    font-size: 19px;
    line-height: 20px;
    margin-bottom: 33px;
}

