


.container-reviews {
    background-color: white;
    color: #1A1B1E;
    padding-top: 90px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews__list {
    column-count: 2;
    column-gap: 27px;
    margin-bottom: 70px;
}

.reviews__item {
    padding: 50px 30px 30px;
    border-radius: 5px;
    background: #F4F5F5;
    width: 557px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.review__topline {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
    margin-bottom: 27px;
}

.review__topline-upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.review__topline-avatar {
    width: 142px;
    height: 142px;
}

.review__topline-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 42px;
}

.review__topline-tag {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #303030;
    padding: 10px 18px;
    background: #E7E7E7;
    border-radius: 35px;
    display: inline-block;
}

.review__topline-tag--green {
    background: #B9EAE4;
}


.review__header {
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    padding-bottom: 12px;
}

.review__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #818181;
    margin-bottom: 20px;
}

.review__date {
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
}